
:root {
    --light-color: #F0F8FF;
    --dark-color: #222;

}


header {
  
    
}

footer {
    position: relative;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
  
}

.blog-box {
    width: auto;
    height: auto;
}


.dark, .dark header, .dark footer, .dark main, .dark div, .dark h2, .dark p, .dark strong {
    background-color: var(--dark-color);
    color: var(--light-color);
}

.light, .light header, .light footer, .light main, .light div, .light h2, .light p, .light strong {
    background-color: var(--light-color);
    color: var(--dark-color);
   
}

.dark .div-boxes {
    border: 1px solid var(--light-color);
}

.light .div-boxes {
    border: 1px solid var(--dark-color);
}

.top-space {
    
    /* display: flex; */
    /* position: relative;
    top: 5px;
    right: 10px; */
}

.light-dark-mode-toggle {
    /* background-color: var(--dark-color);
    color: var(--light-color); */
    /* position: absolute;
    top: 10px;
    right: 10px;
    height: 25px; */
}


.div-boxes {
    /* display: grid; */
    width: auto;
    height: auto;
    /* border: 1px solid var(--dark-color);
    color: var(--dark-color); */
    padding: 10px;
    margin: 10px;
    border: 1px solid var(--dark-color);
}



#center-footer {
    align-self: center;
}


/* #light-dark-mode-toggle {
    /* position: absolute;
    top: 0px;
    right: 7px; 
} */
 

#back-button {
    background-color: black;
    color: white;
    position: absolute;
    top: 25px;
    right: 180px;
   
   
}

#light-dark-mode-toggle {
    background-color: var(--dark-color);
    color: var(--light-color);
    position: absolute;
    top: 25px;
    right: 10px;
    height: 25px;
}


/* 
.dark {
    background-color: #222;
    color: white;
}

.light {
    background-color: aliceblue;
    color: #222;
} */

