* {
    background-color: aliceblue;
    
}

:root {
    --light-color: #F0F8FF;
    --dark-color: #222;

}

#back-button {
    background-color: black;
    color: white;
    position: absolute;
    top: 10px;
    right: 180px;
   
   
}

.blog-box {
    width: auto;
    height: auto;
}


.dark .dark header, .dark footer, .dark main .dark div {
    background-color: var(--dark-color);
    color: var(--light-color);
}

.light .light header, .light footer, .light main .light div {
    background-color: var(--light-color);
    color: var(--dark-color);
}

#light-dark-mode-toggle {
    /* position: absolute;
    top: 0px;
    right: 7px; */
  
}

header {
  
    
}

.top-space {
    
    /* display: flex; */
    /* position: relative;
    top: 5px;
    right: 10px; */
}

.light-dark-mode-toggle {
    background-color: var(--dark-color);
    color: var(--light-color);
    /* position: absolute;
    top: 10px;
    right: 10px;
    height: 25px; */
}

#light-dark-mode-toggle {
    background-color: var(--dark-color);
    color: var(--light-color);
    position: absolute;
    top: 10px;
    right: 10px;
    height: 25px;
}

.div-boxes {
    /* display: grid; */
    width: auto;
    height: auto;
    border: 1px solid var(--dark-color);
    padding: 10px;
    margin: 10px;
}

footer {
    position: relative;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
  
}
#center-footer {
    align-self: center;
}

/* 
.dark {
    background-color: #222;
    color: white;
}

.light {
    background-color: aliceblue;
    color: #222;
} */

