* {
    background-color: aliceblue;

}

body {
    width: 1091px;
    height: 800px;
}
main {
    width: 1091px;
    display: flex;
    position: relative;
    top: 20%;
    left: 10%;
}

#content-box {
    
}

#submit-button-style {

}
#section1 {
    width: 50%;
}



#section2 {
    width: 50%;
    /* flex-wrap: wrap; */
    display: grid;
    
}

label {
    display: block;
    margin: 10px 0px;
}

#submit-button-style {
    display: block;
    color: aliceblue;
    background-color: black;
    width: fit-content;
    justify-self: center;
    align-self: center;
}
