* {
    background-color: aliceblue;
    box-sizing: border-box

}

html {
    /* width: 1091px; */
    height: 800px;
}

body {
    /* width: 1091px; */
    height: 800px;
}

header {
    /* width: 1091px; */
    display: flex;
    justify-content: flex-end;
    /* justify-content: space-between; */
    padding: 10px;
    border-bottom: 10px;
    
}
main {
    /* width: 1091px; */
    display: flex;
    position: relative;
    /* top: 10%; */
    /* left: 10%; */
    
}

#content-box {
    
}

/* DEBUG: why won't this button show up at the right most corner of the page */
#light-dark-mode-toggle {
    position: relative;
    right: 0px;
    
  
}

#section1 {
    /* width: 545.5px; */
    display: flex;
    flex-direction: column;
    /* justify-content: space-between */
}

#section2 {
    /* width: 545.5px; */
    /* flex-wrap: wrap; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px 20px;

    /* padding: 40px; */
    /* margin-right: 0px; */
    
}

label {
    /* display: block; */
    display: flex;
    flex-direction: column;
    margin: 10px 0px 10px 0px;
}

.two-lines {
    border: 2px solid black;
    /* padding: 10px;   */
    /* margin: 3px; */
    border: 3px double black;

}

#submit-button-style {
    display: flex;
    flex-direction: column;
    color: aliceblue;
    background-color: black;
    /* width: fit-content; */
    justify-self: center;
    align-self: center;
    margin: 15px 0px 10px 0px;
    padding: 5px 250px;
    margin-bottom: 150px;

}

#question {
    width: fit-content;
    position: relative;
    left: 160px;
    margin-top: 150px;
}

#content-box-styling {
    /* figure out how to extend the height of the box */
}