* {
    background-color: aliceblue;
    box-sizing: border-box

}

:root {
    --light-color: #F0F8FF;
    --dark-color: #222;

}

html {

}

body {
 /* display: flex;
 flex-direction: column; */
}

header {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    border-bottom: 20px;
    
}
main {
    display: flex;
    /* position: relative; */
    /* top: 10%; */
    /* left: 10%; */
    
}

#content-box {
    
}

/* DEBUG: why won't this button show up at the right most corner of the page */
#light-dark-mode-toggle {
    position: absolute;
    top: 0px;
    right: 7px;
  
}

.container {
    background-color: var(--light-color);
    color: var(--dark-color);
}

#light-dark-mode-toggle::after {

}

.dark {
    background-color: var(--dark-color);
    color: var(--light-color);
}

.light {
    background-color: var(--light-color);
    color: var(--dark-color);
}

#section1 {
    /* width: 545.5px; */


    /* display: flex;
    flex-direction: column; */
}

#section2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100%;

    /* justify-content: space-between; */
    /* align-items: center; */
    /* padding: 50px 20px; */
    /* margin-right: 0px; */
    
}

label {
    display: flex;
    flex-direction: column;
    margin: 10px 0px 10px 0px;
    
}

.two-lines {
    border: thick double black;

}

#submit-button-style {
    display: flex;
    flex-direction: column;
    color: aliceblue;
    background-color: var(--dark-color);
    /* width: fit-content; */
    justify-self: center;
    align-self: center;
    margin: 15px 0px 10px 0px;
    padding: 5px 250px;
    margin-bottom: 150px;

}

#question {
    width: fit-content;
    align-self: center;
    /* justify-self: ; */

    /* Worked before */
    /* position: relative;
    left: 160px;
    margin-top: 150px; */
}

#content-box-styling {
    line-height: 20px;
    /* figure out how to extend the height of the box */
}

#scale-down-png {
    height: 750px;
    width: 750px;
}